/* Styles for the home container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  min-height: 50vh;
}

/* Styles for the left section (photo) */
.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

/* Styles for the profile image */
.profile-image img {
  max-width: 100%;
  margin-top: 1cm;
  border: 20px solid rgb(81, 0, 255);

 
  
}

/* Styles for the right section (content) */
.right-section {
  flex: 1;
  text-align: center;
  padding: 20px;
  width: 50%;
}

/* Styles for the home title */
.home-title {
  font-size: 2.5rem;
  margin-right: 4cm;

  
}

/* Styles for the home description */
.home-description {
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
margin-top: 2cm;
  color:rgb(0, 0, 0);
  background-color:white;

  /* Add the yellow border animation */
  border: 25px solid transparent; /* Initial border style */
  animation: borderAnimation 3s infinite; /* Repeated infinitely */
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(132, 0, 255);
  }
  100% {
    border-color: transparent;
  }
}

/* Styles for the Call to Action (CTA) buttons */
.cta-buttons {
  display: flex;
  justify-content: center;
  margin-right: 3cm;
}

.download-button,
.hire-button {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-bottom: 1cm;
  
}

.download-button:hover,
.hire-button:hover {
  background-color: #f60;
}

/* Styles for additional content (Services) */
.additional-content {
  margin-top: 20px;
}

.additional-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 10px;
}

body {
  overflow-x: hidden;
  }